<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Anglia / Autorizacija</title>

    <div th:replace="/header/header.html"></div>
</head>
<body>
<div th:replace="/menu/menu.html"></div>

<!-- START OF AUTORIZACIJA TABLE -->
<div class="container-fluid">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-md-10">
                    <h2><b>Autorizacija</b></h2>
                </div>
                <div class="col-md-2">
                    <a href="#addAutorizacijaModal" class="btn btn-primary" data-toggle="modal"><i
                            class="fas fa-plus"></i> Dodaj novu Autorizaciju</a>
                </div>
            </div>
        </div>
        <table class="table table-responsive-md table-striped table-hover">
            <thead>
            <tr>
                <th>Šifra</th>
                <th>Radno mjesto</th>
                <th>Novo autorizacije</th>
                <th>Modifikacija</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="a : ${listaAutorizacije}">
                <td th:text="${a.autorizacijaId}">Onions</td>
                <td th:text="${a.imePozicije}">2.41</td>
                <td th:text="${a.nivoAutorizacije}">yes</td>
                <td>
                    <a href="#"><i class="text-success fas fa-pencil-alt" id="eBtn" onclick="myFunction()" title="Izmjeni"></i></a>
                    <a href="#" data-toggle="modal"><i class="text-danger fas fa-trash"
                                                       th:onclick="'showDeleteAutorizacija('+${a.autorizacijaId}+')'" data-toggle="tooltip" title="Izbriši"></i></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- END OF AUTORIZACIJA TABLE -->

<!-- Add Modal HTML -->
<div id="addAutorizacijaModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form th:action="@{/autorizacija}" th:object="${autorizacija}" method="post">
                <div class="modal-header">
                    <h4 class="modal-title">Dodaj Autorizaciju</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Radno mjesto</label>
                        <input type="text" class="form-control" id="imePozicije" name="imePozicije" required>
                    </div>
                    <div class="form-group">
                        <label for="nivoAutorizacije">Nivo autorizacije</label>
                        <select class="custom-select" id="nivoAutorizacije" th:field="*{nivoAutorizacije}" required>
                            <option th:each="int : ${novoiAutorizacije}"
                                    th:value="${int}"
                                    th:text="${int}">Text
                            </option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Odustani">
                    <input type="submit" class="btn btn-success" value="Dodaj">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Edit Modal HTML -->
<div id="editAutorizacijaModal" class="modal fade">
    <div class="modal-dialog" id="editModal">
        <div class="modal-content">
            <form th:action="@{/autorizacija}" th:object="${autorizacija}" id="autorizacija" method="put">
                <div class="modal-header">
                    <h4 class="modal-title">Izmjeni Autorizaciju</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Radno mjesto</label>
                        <input type="text" class="form-control" id="imePozicije" name="imePozicije" required>
                    </div>
                    <div class="form-group">
                        <label for="nivoAutorizacije">Nivo autorizacije</label>
                        <select class="custom-select" th:field="${autorizacija.nivoAutorizacije}" required>
                            <option th:each="int : ${novoiAutorizacije}"
                                    th:value="${int}"
                                    th:text="${int}">Text
                            </option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Odustani">
                    <input type="submit" class="btn btn-success" value="Izmjeni">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Delete Modal HTML -->
<div id="deleteAutorizacijaModalContainer"></div>


<div th:replace="/scripts/scripts.html"></div>

<script>
    function myFunction() {
        $('#editAutorizacijaModal').modal('show');
    }
</script>

    </body>
</html>